/* ===== wrapper ===== */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ===== end wrapper ===== */

/* ===== container ===== */
[class*="__container"] {
	max-width: 1020px;
	margin: 0 auto;
}
/* ===== end container ===== */

/* ===== body ===== */
body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}
/* ===== end body ===== */

/* ===== main ===== */
.main {
	padding: 200px 0px 200px 0px;
}
/* ===== end main ===== */

.avto {
}
.avto__container {
}
.avto__body {
	position: relative;
	width: 1000px;
	height: 1000px;
	background-color: #00FF7F;
}

/* ===== avto__roof ===== */
.avto__roof {
}
.roof-avto {
	position: absolute;
	
}
.roof-avto__item-1 {
	width: 500px;
	height: 5px;
	background-color: #000;
}
.roof-avto__item-2 {
}
.roof-avto__item-3 {
}
/* ===== end avto__roof ===== */

/* ===== avto__cabin ===== */
.avto__cabin {
	width: 500px;
	height: 300px;
	background-color: #C0C0C0;
	position: relative;
}
.cabin-avto {
	position: absolute;
	top: 450px;
	left: 250px;

}
.cabin-avto__item-1 {
	width: 245px;
	height: 120px;
	background-color: #D3D3D3;
	border-radius: 100% 0% 98% 2% / 57% 100% 0% 43%;
	position: absolute;
	top: 170px;
}
.cabin-avto__item-2 {
	width: 245px;
	height: 120px;
	background-color: #D3D3D3;
	/* border-radius: 100% 0% 98% 2% / 57% 100% 0% 43%; */
	position: absolute;
	top: 170px;
	left: 50%;
}
.cabin-avto__item-3 {
	width: 500px;
	height: 10px;
	background-color: #000;
	position: absolute;
	top: 97%;
}
.cabin-avto__item-4 {
}
.cabin-avto__item-5 {
}
/* ===== end avto__cabin ===== */

.avto__windows {
}

/* ===== avto__wheel ===== */
.avto__wheel {
}
.wheel-avto {
	position: relative;
}
.wheel-avto__left {
	width: 100px;
	height: 100px;
	background-color: #333;
	border-radius: 50%;
	transform: rotate(180deg);
	outline: 20px solid #303C3C;
	overflow: hidden;
	position: absolute;
	top: 700px;
	left: 200px;	
}
.wheel-avto__left_item-1 {
	width: 30px;
	height: 30px;
	background-color: #FFD700;
	border-radius: 50%;
	position: absolute;
	z-index: 5;
	top: 35px;
	left: 35px;
}
.wheel-avto__left_item-2 {
	width: 5px;
	height: 50px;
	background-color: #FFD700;
	position: absolute;
	top: 0px;
	left: 69px;
	transform: rotate(43deg);
}
.wheel-avto__left_item-3 {
	width: 5px;
	height: 50px;
	background-color: #FFD700;
	position: absolute;
	top: 0px;
	left: 26px;
	transform: rotate(321deg);
}
.wheel-avto__left_item-4 {
	width: 5px;
	height: 50px;
	background-color: #FFD700;
	position: absolute;
	top: 35px;
	left: 25px;
	transform: rotate(65deg);
}
.wheel-avto__left_item-5 {
	width: 5px;
	height: 50px;
	background-color: #FFD700;
	position: absolute;
	top: 39px;
	left: 80px;
	transform: rotate(292deg);
}
.wheel-avto__left_item-6 {
	width: 5px;
	height: 50px;
	background-color: #FFD700;
	position: absolute;
	top: 65px;
	left: 47px;
	transform: rotate(180deg);
}

.wheel-avto__right {
	width: 100px;
	height: 100px;
	background-color: #333;
	border-radius: 50%;
	transform: rotate(180deg);
	outline: 20px solid #303C3C;
	overflow: hidden;
	position: absolute;
	top: 700px;
	left: 700px;
}
.wheel-avto__right_item-1 {
	width: 30px;
	height: 30px;
	background-color: #FFD700;
	border-radius: 50%;
	position: absolute;
	z-index: 5;
	top: 35px;
	left: 35px;
}
.wheel-avto__right_item-2 {
	width: 5px;
	height: 50px;
	background-color: #FFD700;
	position: absolute;
	top: 0px;
	left: 69px;
	transform: rotate(43deg);
}
.wheel-avto__right_item-3 {
	width: 5px;
	height: 50px;
	background-color: #FFD700;
	position: absolute;
	top: 0px;
	left: 26px;
	transform: rotate(321deg);
}
.wheel-avto__right_item-4 {
	width: 5px;
	height: 50px;
	background-color: #FFD700;
	position: absolute;
	top: 35px;
	left: 25px;
	transform: rotate(65deg);
}
.wheel-avto__right_item-5 {
	width: 5px;
	height: 50px;
	background-color: #FFD700;
	position: absolute;
	top: 39px;
	left: 80px;
	transform: rotate(292deg);
}
.wheel-avto__right_item-6 {
	width: 5px;
	height: 50px;
	background-color: #FFD700;
	position: absolute;
	top: 65px;
	left: 47px;
	transform: rotate(180deg);
}

/* ===== end avto__wheel ===== */

